@import '../core/variables.scss';

.card {
  background-color: $colorGold;
  width: 200px;
  min-height: 320px;
  box-shadow: -1px 0 0.4em rgb(57, 55, 55);

  &__img {
    width: 180px;
    height: 220px;
    display: block;
    object-fit: cover;
    margin: 1em auto;
    border-radius: 10px;
  }

  &__title {
    color: white;
    text-align: center;
    text-transform: capitalize;
  }

  &__description {
    color: white;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;

  }
}