@import '../core/variables.scss';

.cards {
  width: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
  justify-items: center;

}