@import '../core/variables.scss';

.cardsList {
  width: 100%;
  padding: 1em 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2em;
  justify-items: center;
}