@import '../core/variables.scss';

.formFilter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;

  &__label {
    line-height: 2em;
    margin-right: 0.2em;
  }

  &__input {
    color: $colorGold;
    border: 2px $colorGold solid;
    text-align: center;
    border-radius: 5px;
    width: 140px;
  }

  &__select {
    color: $colorGold;
    border: 2px $colorGold solid;
    border-radius: 5px;
  }
}