@import "../core/variables.scss";

.footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: $colorSilver;
  color: white;
  font-family: $fontHarry;



  &__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.fa-brands {
  color: white;
  list-style: none;
  padding: 0 5px;
}