$fontHarry: 'Harry Potter', sans-serif;
$fontSimple: 'Roboto', sans-serif;
$colorGold: #b28405;
$colorSilver: rgb(142, 134, 134);
$colorBlack: #020000;

@font-face {
  font-family: 'Harry Potter';
  src: url('../../fonts/Harry-Potter.ttf') format('truetype');

}